.input{
  width:240px;
  height:22px;
  margin-right:10px;
  margin-bottom:10px;
}

.button1{
  height: 26px;
  margin-right:10px;
  color:white;
  background-color:blue;
  border:none;
  width:80px;
}
.button2{
  height: 26px;
  margin-right:10px;
  color:white;
  background-color:red;
  border:none;
  width:80px;
}